*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding:20px;
  font-family:Arial;
  background:#296ca8;
  color:#fff;
}

/* HEADER */
h1{
  text-align:center;
}

.filter-container{
  max-width:800px;
  margin:20px auto;
}

input{
  width:100%;
  padding:12px;
  border:none;
  border-radius:6px;
}

/* POSTS */
#posts{
  max-width:800px;
  margin:auto;
}

.post{
  background:#4992d3;
  padding:20px;
  margin:20px 0;
  border-radius:10px;
}

/* LOADER */
.loader{
  display:flex;
  justify-content:center;
  opacity:0;
}

.loader.show{
  opacity:1;
}

.loader span{
  width:10px;
  height:10px;
  margin:5px;
  background:#fff;
  border-radius:50%;
  animation:bounce .5s infinite;
}

.loader span:nth-child(2){animation-delay:.1s;}
.loader span:nth-child(3){animation-delay:.2s;}

@keyframes bounce{
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
}

/* IMPORTANT */
#sentinel{
  height:100px;
}